.row-header {
	margin: 0px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.nav-item {
	color: black;
}

.footer {
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #9575CD;
	color: floralwhite;
}

address {
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}

body, html {
	height: 100%;
}

body {
	padding: 0;
	z-index: 0;
}

.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.cover-page-bg {
	background-image: url('../img/IMG-1599.JPG');

	/* Full height */
	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.content-container {
	padding-top: 10px;
	padding-bottom: 10px;
}

.home-img {
  max-width: 100%;
  height: auto;
  max-height: 97vh;
  padding: 0;
}

.portfolio-img {
	max-width: 100%;
	height: auto;
	max-height: 50vh;
}

.portfolio-img + .portfolio-img {
	padding-top: 10px;
}

.navbar-container {
	min-width: 175px;
}

.navbar-brand {
	padding: .5rem 1rem;
}

.nav-link {
	padding: .2rem 1rem;
}

.nav-section {
	padding: .5rem 0;
}

.about-box {
	padding: 50px;
}

#contact-img, #about-img {
	max-width: 100%;
}